// RESET

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// FONT

body {
    font-family: "Poppins", sans-serif;
}

.big-container{
    width: 70%;
    margin: 0 auto;
}

.small-container{
    width: 80%;
    margin: 0 auto;
}

