// RESET

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// FONT

body {
    font-family: "Poppins", sans-serif;
}

.big-container{
    width: 70%;
    margin: 0 auto;
}

.small-container{
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
}

button:hover {
    background-color: #058283;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: .8rem
}



