@mixin button--solid{
    text-transform: uppercase;
    padding: .5rem 1rem;
    background-color: $button-solid-color;
    border: none;
    border-radius: 3px;
    color: $button-text-color;
    font-size: .8rem
}

@mixin button--empty {
    text-transform: uppercase;
    padding: .5rem 1rem;
    background-color: transparent;
    border: 1px solid $button-solid-color;
    border-radius: 3px;
    color: $button-text-color;
    font-size: .8rem;
}

@mixin toCenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@mixin smallTitle{
    text-transform: uppercase;
    color: $button-solid-color;
    font-weight: 550;
}

@mixin h2SubTitle{
    font-size: 2.5rem;
    padding: 3rem 0;
    font-weight: 800;
}

@mixin highLightTitle{
    color: #098081;
    background-color: #60a9ad3b;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}