

$financial-risk-title-color:white;
$button-solid-color: #058283;
$button-text-color:white;
$grey-title-color:#4e4f52;
$highlight-title-color:#098081;
$highlight-title-background:#60a9ad56;
$highlight-title-background-no-traparency:#60a9ad;
$icon-play-trasparency-color-shadow:#097f8177;
$icon-play-trasparency-color: rgba(255, 255, 255, 0.466);
$excellence-card-background:#1d2528;
$predidentSpeech-color:#e7eee9;
$quote-right-icon-color:#4347475e;
$latestNews-section-background:#e7eee9;
$score-numbers-color:#52babb;
$excellence-background:#111117;
$form-bg-color:#bcbdbd56;

.grey-text{
    color: #bcbdbd;
}